<!DOCTYPE html>
<html>
  <head>
    <title>Elise J. Choi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="/script.js" defer></script>
  </head>
  
  <body>
    <div id="container">
      <div id="content">
        
      
    
    <h1>Elise J. Choi</h1>
    <h5>
      <em>She / Her / Hers</em>
    </h5>
    
    
    <div id="nav">
      <h3>
        Navigation
      </h3>
      <ul>
        <li><a href="#">H O M E</a></li>
        <br>
        <li><a href="writings.html">W R I T I N G S</a></li>
        <br>
        <li><a href="art.html">A R T</a></li>
        <br>
        <li><a href="#">B L O G</a></li>
      </ul>
    </div>
      
      
    <div id="main">
      
         
    <h2>Hello!</h2>
    <p>
      Welcome to my writing and art portfolio. A lot of the things on here are outdated (i.e., might make me cringe), but nevertheless, feel free to poke around... 
    </p>
    
    

    
    <p>For my other social media thingamajigs, see the following:</p>
    <ul>
      <li><strong>Twitter: <a href="http://twitter.com/eljc00">@eljc00</a></strong></li>(My Twitter tends to be thoughts on politics and culture.)
      <li><strong>Instagram: <a href="https://www.instagram.com/elise00000000/?hl=en">@elise00000000</a></strong></li> (My Instagram is 50% cats and 50% silliness.)
      <li><strong>Tumblr: <a href="http://eljc00.tumblr.com">@eljc00</a></strong></li> (My tumblr is 100% <a href="https://en.wikipedia.org/wiki/Takarazuka_Revue">Takarazuka</a>, sexuality, gender magic.)
    </ul>
<hr>
    <p>This website is designed from scratch by me. I hosted from the cool app-building site <a href="https://glitch.com/">Glitch</a> and then carried it over into <a href="https://github.com">Github</a>.</p>
      
      </div> 
      </div>
      </div>
      </body>
</html>
